body {
    background-image: url(wall.jpg);

}

div {
    font-family: Comic Sans MS;

}

legend{
    color:rgba(1, 112, 146, 0.966);
 }

 span {
    float: left;
    width: 0.6em;
    font-size: 400%;
    font-family: algerian, courier;
    line-height: 70%;
  }

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 14px 40px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }

 .block {
    border: solid 10px rgb(15, 72, 148);
    border-radius: 65px;
 }
 
 
 .fantasy {
    color:rgb(130, 11, 185);
    font-family: fantasy;
    font-size: 220%;
 }
 .cursive {
    color:rgb(126, 53, 53);;
    font-family: algerian, courier;
    font-size: 320%;
 }
 .blue {
    color:blue;
 }
 .green {
    color:green;
 }
 .red {
    color: red;
 }

 .thick {
    font-size:120%;
 }
